<?xml version="1.0" encoding="UTF-8"?>
<configuration>

 <!--   <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %X{deviceId}/%X{remoteIP} [%thread] %-5level %logger{50} - %msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>${pattern}</pattern>
    </encoder>
    </appender>
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>cassiopeya.log</file>
        <prudent>false</prudent>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>cassiopeya-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>28</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>     -->

</configuration>
