<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Cassiopeya</display-name>
    <servlet>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>org.cassiopeya.servlet.DefaultServlet</servlet-class>
        <!--<init-param>-->
        <!--<param-name></param-name>-->
        <!--<param-value></param-value>-->
        <!--</init-param>-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>org.cassiopeya.servlet.RegistrationServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ResultLogIn</servlet-name>
        <servlet-class>org.cassiopeya.servlet.ResultLogInServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ResultSignUp</servlet-name>
        <servlet-class>org.cassiopeya.servlet.ResultSignUpServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StartProject</servlet-name>
        <servlet-class>org.cassiopeya.servlet.StartProjectServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ViewCategories</servlet-name>
        <servlet-class>org.cassiopeya.servlet.ViewCategoriesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MyProfile</servlet-name>
        <servlet-class>org.cassiopeya.servlet.MyProfileServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>IdeaView</servlet-name>
        <servlet-class>org.cassiopeya.servlet.IdeaViewServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>org.cassiopeya.servlet.AddCommentServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AddInvest</servlet-name>
        <servlet-class>org.cassiopeya.servlet.AddInvestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>org.cassiopeya.servlet.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownLoadServlet</servlet-name>
        <servlet-class>org.cassiopeya.servlet.DownLoadServlet</servlet-class>
        <init-param>
            <param-name>myName</param-name>
            <param-value>value</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefaultServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultLogIn</servlet-name>
        <url-pattern>/ResultLogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartProject</servlet-name>
        <url-pattern>/StartProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultSignUp</servlet-name>
        <url-pattern>/ResultSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategories</servlet-name>
        <url-pattern>/ViewCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfile</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IdeaView</servlet-name>
        <url-pattern>/IdeaView</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddInvest</servlet-name>
        <url-pattern>/AddInvest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownLoadServlet</servlet-name>
        <url-pattern>/DownLoadServlet</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>Pool for my DataBase cassiopeya</description>
        <res-ref-name>jdbc/pool</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

</web-app>
